img, .carousel-img{
    object-fit: cover;
}

.carousel, .carousel-img{
    height: 40vh;
    overflow: hidden;
}

.container, .carousel, img{
    border-radius: .5rem;
}

.img-item{
    height: 250px;
    cursor: pointer;
}