img,
.carousel-img {
    object-fit: cover;
}

.carousel,
.carousel-img {
    height: 40vh;
    overflow: hidden;
}

.container,
.carousel,
.video,
img {
    border-radius: 0.5rem;
}

.img-item {
    height: 250px;
    cursor: pointer;
}